{% extends "base.html" %}
{% block title %}{{group.name}}{% endblock %}
{% block body %}    
	<center>
		<h2>{{group.name}}</h2>
		<h4 style="color: gray;">{% for c in group.description %}{% if c == '\n'%}<br>{% endif %}{{c}}{% endfor %}</h4>
		<span style="color: gray;">Administrator: <a href="/{{group.admin}}" style="color: gray;">@{{administrator}}</a></span>
	</center>
	<div style="margin-left: 5%;">
		{% if member %}<a href="/add-{{group._id}}" class="link" style="font-size: larger;">Add Post</a>{% endif %}<hr>
		{% if posts %}
			<h4>Posts:</h4>
			{% for post in posts %}
				<div style="margin-left: 2%;">
					<a class="link" href="{{post._id}}-post">{{post.title}}</a> <a class="link" href="/{{post.user_id}}">@{{post.username}}</a> {{post.pub_date}} {% if post in delete %}<a href="/delete-{{post._id}}" class="d">Delete Post</a>{% endif %}<br>
					<div style="font-size: 95%; color: gray;">{{post.body}}</div>
				</div>
			{% endfor %}
		{% else %}
			<center style="color: #d3d3d3;"><h2>There are no posts in this group yet...</h2></center>
		{% endif %}
		<hr>
		<h5>Members ({{len}}): </h5>
		<p>
			{% for member in members %}
				<a href="/{{member._id}}" class="link" style="margin-left: 2%;">@{{member.username}}</a> {% if member.username != administrator %}{% if admin %}<a href="/remove-from-group-{{member._id}}:{{group._id}}" class="d">Remove from group</a>{% endif %}{% endif %}<br>
			{% endfor %}
		</p>
		{% if member %}
			<a href="/invite-{{group._id}}" class="a">Invite friends.</a><br>
			<a href="/invite-users-{{group._id}}" class="a">Invite users.</a><br>
		{% endif %}
		{% if admin %}
			<a href="/change-admin-{{group._id}}" class="a">Change group administrator.</a><br>
			<a href="/delete-group-password-{{group._id}}" class="d">Delete group.</a>
		{% endif %}
	</div>
{% endblock %}