{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block body %}
	<center>
		<form action="/changing-password" method="POST">
			<h4 style="margin-top: 5%;">Old password</h4>
			<input type="password" name="old_password" class="in">
			<h4>New password</h4>
			<input type="password" name="new_password" class="in"><br>
			<button type="submit" class="safe">Change</button>
			<button class="danger"><a href="/settings" class="none">Cancel</a></button>
		</form>
	</center>
{% endblock %}